# config.yaml

# User Data and Outputs
data/
output_annotations.json
annotation_state.json
*.json

# Downloaded Models
models/
*.pth

# Python Virtual Environment
venv/
.venv/
env/
.env/
*.env

# IDE / OS specific
.vscode/
.idea/
*.swp
*~
.DS_Store

# Build artifacts
dist/
build/
*.egg-info/
__pycache__